<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.paloaltonetworks.gp.pangps</string>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>Program</key>
    <string>/Applications/GlobalProtect.app/Contents/Resources/PanGPS</string>
    <key>WorkingDirectory</key>
    <string>/Applications/GlobalProtect.app/Contents/Resources</string>
    <key>RunAtLoad</key>
    <true/>
    <key>ExitTimeOut</key>
    <integer>20</integer>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>    
</dict>
</plist>